@charset "UTF-8";
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.container .control {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 200px 120px;
      grid-template-columns: 200px 200px 120px;
  grid-gap: 20px;
  padding-top: 50px;
  position: relative;
}

.container .control select {
  font-size: 16px;
  padding: 4px;
  border: 1px solid springgreen;
}

.container .control input {
  font-size: 16px;
  padding: 4px;
  border-radius: 2%;
  border: 1px solid springgreen;
}

.container .control:after {
  content: 'Chọn lịch trình thời gian';
  font-size: 25px;
  position: absolute;
  top: 50px;
  left: 580px;
}

.container .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .post form {
  height: 100%;
  width: 1000px;
}

.container .post form .tickets {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-row-gap: 20px;
}

.container .post form .tickets div {
  border-radius: 6%;
  width: 80px;
  height: 80px;
  background: white;
  -webkit-box-shadow: #e9dfdf 1px 1px 1px 2px;
          box-shadow: #e9dfdf 1px 1px 1px 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.container .post form .tickets div input {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.container .post form .tickets div label {
  z-index: 1;
  cursor: pointer;
}

.container .post form .submit {
  margin-top: 13px;
  font-size: 16px;
  padding: 10px;
  -webkit-box-shadow: #dac6c6 1px 1.5px 1px 0.5px;
          box-shadow: #dac6c6 1px 1.5px 1px 0.5px;
  background: #5d5df3;
  border-radius: 10%;
  color: white;
  position: absolute;
  top: 380px;
  left: 1160px;
}

.container .post .note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  position: relative;
}

.container .post .note span {
  line-height: 40px;
}

.container .post .note span:before {
  content: '';
  width: 40px;
  height: 40px;
  border: 1px solid #dfd1d1;
  border-radius: 6%;
  position: absolute;
  left: -50px;
  -webkit-box-shadow: #dac6c6 1px 1.2px 1px 0.5px;
          box-shadow: #dac6c6 1px 1.2px 1px 0.5px;
}

.container .post .note span:nth-child(1)::before {
  background: white;
}

.container .post .note span:nth-child(2)::before {
  background: #0075ff;
}

.container .post .note span:nth-child(3)::before {
  background: #e64242;
}

.container .post form .tickets .choosing {
  background: #0075ff;
  color: white;
}

.container .post form .tickets .active {
  background: #e64242;
  color: white;
}
/*# sourceMappingURL=filterTicket.css.map */