
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--css style-->
    <link rel="stylesheet" href="{% static 'css/base1.css' %}">    
    {% block head %}
    {% endblock head %}
  </head>
  <body>
    <header>
        <div class="container_header">
            <div class="container_menu">
                <ul class="menu_header">
                    <li class="item_header"><a href="{% url 'index' %}">Trang chủ</a></li>
                    <li class="item_header"><a href="{% url 'datve' %}">Đặt vé</a></li>
                    <li class="item_header"><a href="{% url 'thanhtoan' %}">Thanh toán</a></li>
                    <li class="item_header"><a href="#">Liên hệ</a></li>
                    <!-- <li class="item_header"></li> -->
                </ul>
            </div>
            {% if user.username  %}
                <div class="contain_login">
                    <div class="dropdown open">
                        <button class="btn btn-secondary dropdown-toggle btnProfile" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                    <i class="fas fa-user userSize"></i>
                                </button>
                        <span style="color: rgb(0, 0, 0);">{{user.username}}</span>
                        <div class="dropdown-menu" aria-labelledby="triggerId">
                            <!-- <button class="dropdown-item" href="#">My cart</button> -->
                            {% if user.is_staff %}
                                <a class="dropdown-item" href="{% url 'bills' %}">Management</a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'index' %}">My cart</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <a style="color:white; text-decoration: none; font-size: 25px;" href ="{% url 'login' %}">
                    Login
                </a>
            {% endif %}
        </div>
    </header>
    
    {% block contain %}{% endblock contain %}


    <div class="container_animation">
        <img class='bg' src="./images/bg.png" alt="">
        <img class='car1' src="./images/police_car.gif" alt="">
        <img class='car2' src="./images/police_car.gif" alt="">
        <img class='car3' src="./images/police_car.gif" alt="">
    </div>

    <!-- icon style -->
    <script src="https://kit.fontawesome.com/36cfb5df1b.js" crossorigin="anonymous"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>