<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <select name="route" id="">
        {% for route in routes %}
            <option value="{{route.id}}">{{route}}</option>
        {% endfor %}
        </select>
        <input type="date" name='start_day'>
        <section name = 'start_time'>
            <option value="06:00:00">6h00</option>
            <option value="09:00:00">9h00</option>
            <option value="18:00:00">18h00</option>
        </section>
        <input type="submit" value="Tìm">
    </form>
</body>
</html>