{% extends 'core/base_manage.html' %} {% load static %} {% block head %}
<title>Thêm Tuyến</title>
<link rel="stylesheet" href="{% static 'css/RTT.css' %}">
{% endblock head %} {% block contain %}
<div class="main">
  <form action="" method="post">
    {% csrf_token %}
    <label for="departure">Departure: </label>
    <select name="departure">
      {% for station in stations %}
      <option value="{{station.id}}">{{station.name}}</option>
      {% endfor %}
    </select>

    <label for="destination">Destination: </label>
    <select name="destination">
      {% for station in stations %}
      <option value="{{station.id}}">{{station.name}}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Add" />
  </form>
  <fieldset>
    <legend id="myLegend">Routes:</legend>
    <table border="1px solid gray">
      <tr border="1px solid gray">
        <th style="padding: 5px">Nơi đi</th>
        <th style="padding: 5px">Nơi đến</th>
      </tr>
      {% for route in routes %}
      <tr border="1px solid gray">
        <td style="padding: 5px">{{route.departure}}</td>
        <td style="padding: 5px">{{route.destination}}</td>
      </tr>
      {% endfor %}
    </table>
  </fieldset>
</div>
    <script>
        // active menu header
        document.querySelectorAll(".item_header")[2].classList.add("activePage");
    </script>
{% endblock contain %}
