{% extends 'core/base.html' %}

{% block head %}
    <title>Thanh toán</title>
{% endblock head %}

{% block contain %}
    <h2>Thanh Toán</h2>
    {% if bill.count != 0 %}
        {% for bill_detail in bill_details %}
            <div>
                <p>{{bill_detail.ticket.get_seat_display}}</p>
                <p>Giá: {{bill_detail.ticket.cost}}</p>
                <p>Ngày đi: {{bill_detail.ticket.schedule.start_day}}</p>
                <p>Giờ đi: {{bill_detail.ticket.schedule.start_time}}</p>
                <p>Tuyến: {{bill_detail.ticket.schedule.route}}</p>
            </div>
        {% endfor %}
        <h2>Tổng: {{bill.total}} VND</h2>
        <buton><a href="{% url 'xulythanhtoan' bill.id %}">Thanh Toán</a><buton>
    {% else %}
        <p>Bạn chưa có hoá đơn nào cần thanh toán! <a href="{% url 'datve' %}">Đặt vé ngay</a></p>
    {% endif %}
{% endblock contain %}