{% extends 'core/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/scss/thanhToan.css' %}">
    <title>Thanh toán</title>
{% endblock head %}

{% block contain %}
    <h2>Thanh toán các vé đã được đặt</h2>
    
    
    {% if bill.id != None %}
    <div class="container_detail colorHeader_menu">
            <p>Số ghế</p>
            <p>Giá</p>
            <p>Ngày đi</p>
            <p>Giờ đi</p>
            <p>Tuyến</p>
            <p></p>
    </div>
        {% for bill_detail in bill_details %}
            <div class="container_detail">
                <div class="dropdown-divider"></div>
                <div class="dropdown-divider"></div>
                <div class="dropdown-divider"></div>
                <div class="dropdown-divider"></div>
                <div class="dropdown-divider"></div>
                <div class="dropdown-divider"></div>

                <p>{{bill_detail.ticket.get_seat_display}}</p>
                <p> {{bill_detail.ticket.cost}}</p>
                <p> {{bill_detail.ticket.schedule.start_day}}</p>
                <p> {{bill_detail.ticket.schedule.get_start_time_display}}</p>
                <p> {{bill_detail.ticket.schedule.route}}</p>
                <a href="{% url 'huyve' bill_detail.id %}"> Huỷ vé</a>

            </div>
        {% endfor %}
        <div class="payment">
        <h2>Tổng: {{bill.total}} VND</h2>
        <buton><a href="{% url 'xulythanhtoan' bill.id %}">Thanh Toán</a><buton>
        </div>
        
    {% else %}
        <p>Bạn chưa có hoá đơn nào cần thanh toán! <a href="{% url 'datve' %}">Đặt vé ngay</a></p>
    {% endif %}
    <script>
        // active menu header
        document.querySelectorAll(".item_header")[2].classList.add("activePage");
    </script>
{% endblock contain %}