{% extends 'core/base.html' %}

{% load static %}

{% block head %}
    <title>Đặt vé</title>
    <link rel="stylesheet" href="{% static 'css/filterTicket.css' %}">
{% endblock head %}

{% block contain %}
    <section>
        <div class="container">
            <div class="control">
                <input type="hidden" id="timezone" name="timezone" value="-07:00">
                <select id = "route" class="route">
                    {% for route in routes %}
                        <option value="{{route.id}}">{{route}}</option>
                    {% endfor %}
                </select>
                <input type="date" id="date">
                <select id = "time" class="time">
                    <option value="6h00">06h00</option>
                    <option value="9h00">09h00</option>
                    <option value="18h00">18h00</option>
                </select>
            </div>
            <div class="post">
                <form method="POST">
                    <div class="tickets">
                    </div>
                    {%csrf_token%}
                    <input id="nutsubmit" class="submit" type="submit" value="Đặt vé">
                </form>

                <div class="note">
                    <span>Chưa đặt</span>
                    <span>Đang chọn</span>
                    <span>Đã đặt</span>
                </div>
                    {% comment %} {% if user.username != None %}
                        <buton class="submit" ><a href ="{% url 'login' %}"></a></button>
                    {% endif %} {% endcomment %}
            </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

    <script>
        {% if  user.username %}
        {% else %}
            document.querySelector('#nutsubmit').addEventListener('click',(e)=>{
                e.preventDefault()
                alert("Vui lòng đăng nhập để thực hiện!")
                window.location.href = "{% url 'login' %}";
            })
        {% endif %}

        const div_tickets = document.querySelector('.tickets')
        const input_time = document.querySelector('#time')
        const input_route = document.querySelector('#route')
        const input_date = document.querySelector('#date')
        const list_ticket = []
        var find_tickets = []
        let ngayhomnay = new Date()
        input_date.value = ngayhomnay.toISOString().split('T')[0]

        // active menu header
        document.querySelectorAll(".item_header")[1].classList.add("activePage");
        
        let std = null
        let stdSt = ''
        function load_ticket(){
            {% for ticket in fullticket %}
                std = new Date(`{{ticket.schedule.start_day}}`)
                stdSt = moment(std).format('YYYY-MM-DD');
                
                list_ticket.push({
                    'id':`{{ticket.id}}`,
                    'seat':`{{ticket.get_seat_display}}`,
                    'cost':{{ticket.cost}},
                    'start_day':stdSt,
                    'start_time':`{{ticket.schedule.get_start_time_display}}`,
                    'type':`{{ticket.get_type_display}}`,
                    'route':`{{ticket.schedule.route.id}}`,
                    'status':`{{ticket.status}}`,
                })
            {% endfor %}
            console.log(list_ticket)
        }


        load_ticket()
        defaultLoad()

        function defaultLoad() {
            find_tickets = []
            thoigian = input_time.value
            tuyen = input_route.value
            ngaydi = input_date.value
            for (i of list_ticket) {
                if (thoigian == i.start_time) {
                    if (tuyen == i.route) {
                        if (ngaydi == i.start_day) {
                            find_tickets.push(i)
                        }
                    }
                }
            }
            display_tickets(find_tickets);
            console.log('load default')
        }

        input_time.addEventListener('input',(e)=>{
            find_tickets = []
            thoigian = e.target.value
            tuyen = input_route.value
            ngaydi = input_date.value
            for( i of list_ticket ){
                if(thoigian == i.start_time ){
                    if(tuyen == i.route) {
                        if(ngaydi == i.start_day){
                            find_tickets.push(i)
                        }
                    }
                }
            }
            display_tickets(find_tickets);
        })

        input_date.addEventListener('input',(e)=>{
            console.log(e.target.value);
            find_tickets = []
            thoigian = input_time.value
            tuyen = input_route.value
            ngaydi = e.target.value
            for( i of list_ticket ){
                if(thoigian == i.start_time ){
                    if(tuyen == i.route) {
                        if(ngaydi == i.start_day){
                            find_tickets.push(i)
                        }
                    }
                }
            }
            display_tickets(find_tickets);
        })

        input_route.addEventListener('input',(e)=>{
            find_tickets = []
            thoigian = input_time.value
            tuyen = e.target.value
            ngaydi = input_date.value
            for( i of list_ticket ){
                if(thoigian == i.start_time ){
                    if(tuyen == i.route) {
                        if(ngaydi == i.start_day){
                            find_tickets.push(i)
                        }
                    }
                }
            }
            display_tickets(find_tickets);
        })

        function chuyendoithang(key){
            let result = ''
            switch (key) {
                case "Jan.":
                    result = '01'
                    break;
                case "Feb.":
                    result = '02'
                    break;
                case "March":
                    result = '03'
                    break;
                case "April":
                    result = '04'
                    break;
                case "May":
                    result = '05'
                    break;
                case "June":
                    result = '06'
                    break;
                case "July":
                    result = '07'
                    break;
                case "Aug.":
                    result = '08'
                    break;
                case "Sept.":
                    result = '09'
                    break;
                case "Oct.":
                    result = '10'
                    break;
                case "Nov.":
                    result = '11'
                    break;
                case "Dec.":
                    result = '12'
                    break;
            }
            return result
        }

        function display_tickets(find_tickets) {
            div_tickets.innerHTML = ''
            for (i of find_tickets) {
                let div = document.createElement('div')
                let input_choice = document.createElement('input')
                let label_choice = document.createElement('label')
                let span_seat = document.createElement('span')
                // let span_cost = document.createElement('span')
                // let span_type = document.createElement('span')

                //add className
                span_seat.classList.add("seat_slot");
                input_choice.classList.add("choose_seat");
                div.classList.add("seat_contain");

                div.appendChild(input_choice)
                div.appendChild(label_choice)
                label_choice.appendChild(span_seat)
                // label_choice.appendChild(span_cost)
                // label_choice.appendChild(span_type)

                input_choice.setAttribute('type', "checkbox")
                input_choice.setAttribute('name', i.id)
                input_choice.setAttribute('value', i.id)
                if (i.status == 'T') {
                    div.classList.add('active')
                    input_choice.setAttribute('onclick', "return false;")
                }

                span_seat.textContent = i.seat
                // span_cost.textContent = ', giá: ' + i.cost
                // span_type.textContent = ', loại: ' + i.type

                div_tickets.appendChild(div)
            }
            choosing_seat();
        }

        function choosing_seat() {
            const clickSlots = document.querySelectorAll(".seat_slot");
            const btnChooseSeats = document.querySelectorAll(".choose_seat");
            const slotContains = document.querySelectorAll(".seat_contain");
            slotContains.forEach(slotContain => {
                slotContain.addEventListener("click", (e) => {
                    console.log('btnChoosing',btnChoosing);
                    btnChoosing.classList.toggle("choosing");
                    if(e.target.children[0].checked == false){
                        e.target.children[0].checked = true
                    }else{
                        e.target.children[0].checked = false
                    }
                })
            })
            btnChooseSeats.forEach(btnChooseSeat =>{
                btnChooseSeat.addEventListener('click',(e)=>{
                    let div = e.target.parentElement
                    div.classList.toggle("choosing");
                })
            })
            clickSlots.forEach(clickSlot =>{
                clickSlot.addEventListener('click',(e)=>{
                    let div = e.target.parentElement.parentElement
                    div.classList.toggle("choosing");
                    let nutcheck = e.target.parentElement.previousElementSibling
                    if(nutcheck.checked == false){
                        nutcheck.checked = true
                    }else{
                        nutcheck.checked = false
                    }
                })
            })
        }

    </script>
{% endblock contain %}
